<ion-content class="bg-white h-50 w-100">
  <ion-title class="text-left ml-3 pl-0">Tv super prron my prro</ion-title>
  <ion-text class="text-left ml-3">Rating</ion-text>
  <ion-slides pager="true" [options]="slideOpts" class="img">
    <ion-slide>
      <ion-img class="img-thumbnail" [src]="images.image1"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img class="" [src]="images.image2"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img class="" [src]="images.image3"></ion-img>
    </ion-slide>
  </ion-slides>
</ion-content>