<ion-header>
  <ion-toolbar>
    <div class="navbaricon">
      <img src="../../../assets/icon/oldwave-logo.png" width="100px" />
    </div>


    <ion-buttons slot="end">
   <!--   <ion-menu-button color="primary" menu="login"></ion-menu-button>-->
    <ion-menu-button color="primary" menu="carrito">
      <div class="car-icon"> 
        <ion-icon name="cart-outline"></ion-icon>
       </div> 
    </ion-menu-button> 
      
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-menu side="end" menuId="carrito" type="push" contentId="main">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Producto 1</ion-item>
      <ion-item>Producto 2</ion-item>
      <ion-item>Producto 3</ion-item>
      <ion-item>Producto 4</ion-item>
      <ion-item>Producto 5</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu side="start" menuId="primerMenu" type="push" contentId="main"></ion-menu>
<!--<ion-menu side="start" menuId="login" type="push" contentId="main"></ion-menu>-->

<ion-router-outlet id="main"></ion-router-outlet>