
  <ion-toolbar class="toolbar">
    <div class="navbaricon">
      <img (click)="homeLink()" src="../../../assets/icon/logo-oldwave-header.svg" width="100px" />
    </div>   

    <div class="menu-icon">
      <ion-icon name="menu-outline"></ion-icon>
    </div>

    <div class="login-icon">
      <img src="../../../assets/icon/login-icon.svg" width="25px" />
    </div>

    <div class="car-icon">
      <img (click)="presentModal()" src="../../../assets/icon/carrito-icon.svg" width="25px" />
    </div>
    
  </ion-toolbar>

  

