<div>
  <h1 id="ask">¿Qué estas buscando hoy?</h1>
  <ion-slides id="carrusel-tags"> 
    <ion-slide id="slide1"> 
      <div class="tags-items" id="tag1"> 
        <a href="">
        <ion-img src={{imagesTags.img1}} class="img-tag" id="img1"></ion-img>
        <h6 class="name-tags">Ropa</h6>
         </a>
      </div>
      <div class="tags-items"> 
        <a href="">
        <ion-img src={{imagesTags.img2}} class="img-tag"></ion-img>
        <h6 class="name-tags">Deporte</h6>

         </a>
      </div>
      <div class="tags-items"> 
        <a href="">
        <ion-img src={{imagesTags.img3}} class="img-tag"></ion-img>
        <h6 class="name-tags">Muebles</h6>

         </a>
      </div>
      <div class="tags-items"> 
        <a href="">
        <ion-img src={{imagesTags.img4}} class="img-tag"></ion-img>
        <h6 class="name-tags">Computadores</h6>

         </a>
      </div>
      

    </ion-slide>
    <ion-slide>
      <div class="tags-items"> 
        <a href="">
        <ion-img src={{imagesTags.img5}} class="img-tag"></ion-img>
        <h6 class="name-tags">Celulares</h6>
         </a>
      </div>
      <div class="tags-items"> 
        <a href="">
        <ion-img src={{imagesTags.img6}} class="img-tag"></ion-img>
        <h6 class="name-tags">Televisores</h6>

         </a>
      </div>
      <div class="tags-items"> 
        <a href="">
        <ion-img src={{imagesTags.img7}} class="img-tag"></ion-img>
        <h6 class="name-tags">Electrodomesticos</h6>

         </a>
      </div>
      <div class="tags-items"> 
        <a href="">
        <ion-img src={{imagesTags.img8}} class="img-tag"></ion-img>
        <h6 class="name-tags">Carros</h6>

         </a>
      </div>
    </ion-slide>
  </ion-slides>
</div>

