#ask{
    color: #772CE8;
    font-size: 15px;
    text-align: center;
}



.tags-items{

margin: auto;


} 
.img-tag{

    width: auto;
    height: 50px;
}

#carrusel-tags{

    height: 150px;

}

.name-tags{
    font-size: 10px;
}