<div class="container line">
  <ion-title class="text-left pl-0">Informacion del vendedor</ion-title>
  <div class="seller mt-3">
    <ion-img [src]="logo" class="icon mb-1"></ion-img>
    <ion-text class="font-text mt-2 ml-1">Tienda: {{sellerName}} </ion-text>
    <ion-text class="font-text mt-2 ml-2">Ciudad: {{city_code}}: {{city_name}}</ion-text>
  </div>
  
  <ion-title class="text-left pl-0 mt-3 mb-2">Descripción</ion-title>
    <ion-text class="text-justify">{{description}} </ion-text>
</div>
