.seller{
    display: flex;
}

.icon{
    width: 100px;
}
.font-text{
    font-size:15px;
    line-height: 10px;
}

.line{
   border-top: solid;
   border-bottom: solid;
   padding-bottom: 0;
}
.map{
    width: 30px;
}