
*{
    font-family: 'Poppins', sans-serif;
}
.seller{
    align-self: center;
    align-content: center;
}

.icon{
    width: 100px;
    align-self: center;
    margin-left: 33%;
}
.font-text{
    font-size:15px;
    line-height: 10px;
}

.line{
   border-top: solid;
   border-bottom: solid;
   padding-bottom: 0;
}
