<div class="container line">
  <ion-title class="text-left pl-0">Informacion del vendedor</ion-title>
  <div class="seller mt-3">
    <ion-img [src]="logo" class="icon mb-1"></ion-img>
    <ion-text class="font-text mt-4 ml-3">"Nombre del man"</ion-text>
  </div>
  <div class="seller mt-3">
    <ion-img [src]="map" class="map mb-2 ml-5"></ion-img>
    <ion-text class="font-text mt-2 ml-5">"ciudad del men"</ion-text>
  </div>
  <ion-title class="text-left pl-0 mt-3">Descripción</ion-title>
    <ion-text class="text-justify">
      =======================| JD MARKET |=======================
================| Tecnología y Computación |=================
<br>
<br>
Teclado Gamer Mecánico Redragon K552 Kumara, Iluminación Red
<br>
<br>
SWITCHES OUTEMU:
<br>
<br>
El corazón de los teclados Redragon está equipado con tecnología Outemu, en este caso, los switches Outemu Blue, de click audible y con activación al ejercer sólo 60 gramos de fuerza sobre la tecla, hacen del Kumara un teclado que acompaña cualquier escritura o juego.
<br>
<br>
ILUMINACIÓN
<br>
<br>
La iluminación del Kumara K-552 consta de teclas retroiluminadas configurables mediante software independiente para el gusto y comodidad del usuario, con posibilidades de guardar perfiles dentro de la memoria interna del teclado, logrando un resultado óptimo basado en sus necesidades.
<br>
<br>
TECLA DE BLOQUEO DE WINDOWS
<br>
<br>
Como su nombre lo dice, esta tecla añade funcionalidad al teclado, evitando tocar accidentalmente la tecla que cierre nuestro juego mientras nos encontramos en el punto clave de la partida.
<br>
<br>
TECLA FN
<br>
<br>
La inclusión de la tecla FN admite el uso de atajos multimedia que aportan al confort del usuario en todo momento.
<br>
<br>
TENKEYLESS
<br>
<br>
La carencia de teclado numérico convierte al Kumara en un teclado compacto, ideal para espacios reducidos o sencillamente porque no le damos uso.
<br>
<br>
CONSTRUCCIÓN
<br>
<br>
La construcción del teclado está realizada sobre ABS reforzado y placa de acero, combinado con teclas moldeadas por inyección láser de doble disparo y posteriormente grabadas, generan un producto durable y de excelente calidad, ideal para uso intensivo.
Su cable de 1.8 metros resiste hasta 12kg de carga continua y hasta 10.000 flexiones bruscas. Su estructura real antisalpicaduras protege al usuario de derrames accidentales sobre nuestro periférico, drenando el líquido por la parte posterior de la base del teclado.
Por último, pero no menos importante: todos los teclados Redragon poseen bases antideslizantes que aseguran la rigidez del periférico en el lugar que hayamos decidido colocarlo.
<br>
<br>
____________________________________________________
<br>
ESPECIFICACIONES
<br>
<br>
• KUMARA K552
• Tipo de interruptores: Mecánicos
• Tipo Switch: Outemu Blue, táctil con click audible, fuerza de actuación 60 gr
• Teclas Multimedia: Si, a tráves de tecla FN
• Teclas Macro: No
• Bloqueo Tecla Windows: Si
• Tamaño teclado: Tenkeyless (sin pad númerico)
• Reposa Muñecas: No
• Retroiluminado: Si, Rojo
• Cable: Goma, reforzado. Soporta 12kg y 10000 flexiones. USB enchapado en oro y filtro anti interferencias
• Matriz: 100% Anti-Ghosting con Full Key Rollover
• Construcción: Plástico ABS reforzado y placa de acero
• Antisalpicaduras: Si
• Idiomas Disponibles: Español
• Peso: 1.06 kg
• Dimensiones: 37.5×15.5×4.3 cm
• Extras: Teclas moldeadas por inyección láser de doble disparo, keypicker
<br>
<br>
JD MARKET SAS: Entregamos con factura legal IVA incluido.
    </ion-text>
</div>
