<ion-content class="h-50 ">
  <div class="container" >
   <ion-text class="text-left font-price font-weight-lighter mb-2">$ 250.000</ion-text>
   <div class="insurance">
     <ion-img [src]="icons.insurance" class="icon mb-2"></ion-img>
     <ion-text class="font-text mt-2 ml-2">Compra protegida, sientete seguro.</ion-text>
   </div>
   <div class="insurance">
     <ion-img [src]="icons.quality" class="icon mb-2"></ion-img>
     <ion-text class="font-text mt-2 ml-2">Calidad 100% garantizada.</ion-text>
   </div>
   <div class="insurance">
     <ion-img [src]="icons.payments" class="icon mb-2"></ion-img>
     <ion-text class="font-text mt-1 ml-2">Multiples medios de pago.</ion-text>
   </div>
   <ion-button class="w-100">Comprar</ion-button>
   <ion-button class="w-100">Agregar al carrito</ion-button>
 </div>
 </ion-content>