<ion-content idName="name">
  <app-navbar></app-navbar>
  <app-search-bar></app-search-bar>

  <div class="container">
    <ion-spinner class="alert"*ngIf="this.listedItems3.length==0"></ion-spinner>
    <div *ngFor="let item of listedItems3">
      <ion-card class="card-center">
        <img class="img" src={{item.thumbnail}} (click)="sendItemId(item.id, sellerId)"/>
        <ion-card-content class="info">
          <h2 color="tertiary">{{item.name}}</h2>
          <h2>{{item.brand}}</h2>
          <h3>{{item.price | currency:'COP':'symbol-narrow'}}</h3>
          <ion-button shape="round" color="tertiary" (click)="addCar(item.name)">Agregar al carrito</ion-button>
        </ion-card-content>
      </ion-card>
      </div>
     <ion-icon name="return-up-back-outline"  *ngIf="this.listedItems3.length==0"  class="btnback" (click)="homeLink()"></ion-icon> 

  </div>
</ion-content>