<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pagina principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-input placeholder="Buscar productos y mas..." [(ngModel)]="search">
    </ion-input>
    <ion-button shape="rounded" routerLink="/search" (click) = "generarItems()"> 
      <ion-icon name="search-circle-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
