
 .items-offert{
     width: 100%;
    
     
 }
 
 .day-offert{

    width: 100%;

 }

 .images-promo{
     height: 100;
     
}


@media only screen and (min-width:300px) {

    .col-4 {width: 30%;margin-left: 15%;}

  }