 
    <div>
      <a href="/" >
        <img src={{imagesItems.img1}} class="day-offert">
        </a>
    </div>

<div >
  <a href="/" class="items-offert" >
    <img src={{imagesItems.img3}} class="images-promo col-4">
    </a>
    <a href="/" >
      <img src={{imagesItems.img4}} class="images-promo col-4">
      </a>
</div>
  

<div>
  <a href="/" >
    <img src={{imagesItems.img2}} class="day-offert ">
    </a>
</div>
  <div class="items-offert" >
    <a href="/" >
      <img src={{imagesItems.img5}} class="images-promo col-4">
      </a>
      <a href="/" >
        <img src={{imagesItems.img6}} class="images-promo col-4">
        </a>
  </div>
    

